# Source: microservice/templates/deployment.yaml
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: demo-microservice-v2
  namespace: development
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: demo-microservice
        release: demo-microservice-v2
        version: v2
      annotations:
        sidecar.istio.io/inject: "true"
    spec:
      containers:
        - name: microservice
          image: "castlemilk/demo-microservice:v2"
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 8080
            - name: management
              containerPort: 8081
          livenessProbe:
            httpGet:
              path: /healthz
              port: management
            timeoutSeconds: 3
            initialDelaySeconds: 20
          readinessProbe:
            httpGet:
              path: /healthz
              port: management
            timeoutSeconds: 3
            initialDelaySeconds: 20
          resources:
            {}
